{% extends 'main/base.html' %}

{% block title %}
Add together
{% endblock %}

{% block content %}

   <h1 xmlns="http://www.w3.org/1999/html" class="display-4 text-center" style="margin: 20px; font-family: Times New Roman;" >Add together</h1>
 <form method="post">
     {% csrf_token %}
    <select >
        {% for component in form.component.field.choices.queryset %}
            <option value="{{ component.id }}">{{ component.name }}</option>
        {% endfor %}
    </select><br>
<br>
    <select >
        {% for bottle in form.bottle.field.choices.queryset %}
            <option value="{{ component.id }}">{{ bottle.name }}</option>
        {% endfor %}
    </select><br>
     Cost:{{ form.cost}}<br>
     <button type="submit" class="btn btn-dark btn-lg">Add</button>
        <span>{{ error }}</span>
 </form>

{% endblock %}
